<link rel="shortcut icon" type="image/x-icon" href="/img/lujiang.ico" media="screen" />
<link rel="stylesheet" href="/css/bookmark.css"/>
<%- include('common/header') %>
<% if (username) { %>
<p class="text-right">亲爱的<%= username%>您好,<a href="/signout">退出<i class="glyphicon glyphicon-arrow-up"></i></a></p>
<% } %>
<ul class="bookmark" target="_blank">
  <li class="bookmark-group" target="_blank">
    <dl>
      <dt class="bookmark-title" target="_blank">随手查</dt>
      <dd><a href="https://www.baidu.com/" target="_blank">百度</a></dd>
      <dd><a href="http://cli.im/" target="_blank">二维码</a></dd>
      <dd><a href="http://www.ruanyifeng.com/blog/2015/07/flex-grammar.html?utm_source=tuicool" target="_blank">Flex 布局教程：语法篇 - 阮一峰的网络日志</a></dd>
      <dd><a href="https://www.jetbrains.com/idea/docs/IntelliJIDEA_ReferenceCard_Mac.pdf" target="_blank">idea快捷</a></dd>
      <dd><a href="http://www.webkaka.com/webCheck.aspx?url=www.tqmall.com&sitesearch=0" target="_blank">网站速度测试(国内),网站速度检测(国内)—卡卡网 www.webkaka.com</a></dd>
      <dd><a href="http://ce.cloud.360.cn/task" target="_blank">奇云测 -- 测试你的网站速度 -- https://www.taobao.com/</a></dd>
      <dd><a href="https://github.com/ouvens/es6-code-style-guide/blob/master/README.md" target="_blank">ES6使用规范</a></dd>
      <dd><a href="http://www.css88.com/doc/underscore/#arrays" target="_blank">Underscore.js(1.8.3) 中文文档</a></dd>
      <dd><a href="http://www.cnblogs.com/xiaogangqq123/archive/2011/03/02/1969006.html" target="_blank">Nginx配置文件详细说明 - 小刚qq - 博客园</a></dd>
      <dd><a href="https://mp.weixin.qq.com/wiki/0/4c93e31f953f24a42b921d2ae8d4e5e0.html" target="_blank">weui操作手册</a></dd>
      <dd><a href="http://translate.google.cn/#zh-CN/en" target="_blank">Google 翻译</a></dd>
      <dd><a href="https://weui.io/#/" target="_blank">WeUI</a></dd>
      <dd><a href="http://www.kuqin.com/web/20130616/334590.html" target="_blank">Web开发人员需知的Web缓存知识_Web开发_酷勤网</a></dd>
      <dd><a href="http://blog.csdn.net/ikscher/article/details/7310548" target="_blank">前端加速网站的方法 - ikscher的专栏 - 博客频道 - CSDN.NET</a></dd>
      <dd><a href="http://www.365mini.com/page/jquery_globaleval.htm" target="_blank">jQuery.globalEval() 函数详解 - CodePlayer</a></dd>
      <dd><a href="http://www.cnblogs.com/thyong/p/5274748.html" target="_blank">vue笔记 - Thyiad - 博客园</a></dd>
      <dd><a href="http://caibaojian.com/bootstrap/components.html#buttonDropdowns" target="_blank">Bootstrap组件功能</a></dd>
      <dd><a href="http://shouce.jb51.net/jscript/index.html" target="_blank">js中文手册</a></dd>
      <dd><a href="http://www.codeceo.com/article/javascript-closure-mechanism.html" target="_blank">JavaScript 闭包的底层运行机制 – 码农网</a></dd>
      <dd><a href="https://www.npmjs.com/package/package" target="_blank">npm-package</a></dd>
      <dd><a href="http://tool.oschina.net/regex/" target="_blank">在线正则表达式测试</a></dd>
      <dd><a href="http://www.divcss5.com/html/h362.shtml" target="_blank">DIVCSS5</a></dd>
      <dd><a href="http://www.jslint.com/" >JSLint</a></dd>
      <dd><a href="http://shuxia.cc/tuya/create" target="_blank">涂鸦画板</a></dd>
      <dd><a href="http://v1.hcharts.cn/demo/index.php?p=104" target="_blank">Highcharts</a></dd>
      <dd><a href="http://tympanus.net/Development/AnimatedSVGIcons/" target="_blank">SVG icons</a></dd>
      <dd><a href="http://ganquan.info/yui/?hl=zh-CN" target="_blank">在线压缩</a></dd>
      <dd><a href="https://demo.mobiscroll.com/select#lang=zh&display=bottom" target="_blank">Mobiscroll Select Examples - Basic usage</a></dd>
      <dd><a href="http://www.cnblogs.com/web-d/archive/2010/04/16/1713298.html" target="_blank">网页特殊符号</a></dd>
      <dd><a href="http://tw.piliapp.com/symbol/" >图标符</a></dd>
      <dd><a href="http://doc.thinkphp.cn/manual/preface.html" >ThinkPHP完全开发手册 - 3.1</a></dd>
      <dd><a href="http://caniuse.com/" >CanIuse</a></dd>
      <dd><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" target="_blank">MDN</a></dd>
      <dd><a href="http://www.css88.com/book/css/properties/flex/flex.htm" >CSS3手册</a></dd>
      <dd><a href="http://www.iconfont.cn/plus/collections/index" target="_blank">Iconfont-阿里巴巴矢量图标库</a></dd>
    </dl>
  </li>
  <li class="bookmark-group" target="_blank">
    <dl>
      <dt class="bookmark-title" target="_blank">常用</dt>
      <dd><a href="http://www.hao123.com/" target="_blank">好123</a></dd>
    </dl>
  </li>
  <li class="bookmark-group" target="_blank">
    <dl>
      <dt class="bookmark-title" target="_blank">博客</dt>
      <dd><a href="http://www.ruanyifeng.com/blog/archives.html" target="_blank">阮一峰</a></dd>
      <dd><a href="http://www.aoao.org.cn/blog/" target="_blank">嗷嗷</a></dd>
      <dd><a href="http://www.welefen.com/" target="_blank">李成银</a></dd>
      <dd><a href="http://luolonghao.iteye.com/" target="_blank">罗龙浩</a></dd>
      <dd><a href="http://jayli.github.io/" target="_blank">李晶 </a></dd>
      <dd><a href="https://github.com/fool2fish/blog/issues?q=is%3Aopen" target="_blank">杨周璇 </a></dd>
      <dd><a href="http://limu.iteye.com/" target="_blank">李穆</a></dd>
      <dd><a href="http://blog.zhaojie.me/?page=3" target="_blank">老赵</a></dd>
      <dd><a href="http://blog.csdn.net/aimingoo/" target="_blank">周爱民</a></dd>
      <dd><a href="http://winter-cn.cnblogs.com/" target="_blank">寒冬</a></dd>
      <dd><a href="http://coolshell.cn/" target="_blank">酷壳</a></dd>
      <dd><a href="http://html5ify.com/" >朴灵</a></dd>
      <dd><a href="http://jiongks.name/" target="_blank">勾三股四</a></dd>
      <dd><a href="http://www.cnblogs.com/rubylouvre" target="_blank">司徒正美</a></dd>
      <dd><a href="http://hax.iteye.com/" target="_blank">hax</a></dd>
      <dd><a href="http://www.aliued.com/" target="_blank">阿里巴巴国际UED团队</a></dd>
      <dd><a href="https://www.zhihu.com/people/evanyou/about" target="_blank">尤雨溪 </a></dd>
      <dd><a href="http://www.cnblogs.com/lhb25/" >梦想天空（山边小溪）</a></dd>
    </dl>
  </li>
  <li class="bookmark-group" target="_blank">
    <dl>
      <dt class="bookmark-title" target="_blank">其它</dt>
      <dd><a href="https://developers.google.com/speed/pagespeed/insights/?url=http%3A%2F%2Fwww.tqmall.com%2FCloudBattery.html&tab=desktop" target="_blank">PageSpeed Insights</a></dd>
      <dd><a href="http://www.admin10000.com/document/1103.html" target="_blank">纯CSS画图 - WEB开发者</a></dd>
      <dd><a href="http://demo.jb51.net/js/2015/html5-jquery-onepiece-style-codes/" >html5海贼王单页视差滚动特效</a></dd>
      <dd><a href="http://www.ipresst.com/w/omqm54/edit" target="_blank">【未命名】 - iPresst.com</a></dd>
      <dd><a href="http://www.waaixiao.com/" target="_blank">湖南卫视在线直播-最受欢迎的湖南卫视直播在线观看平台-挖爱笑</a></dd>
      <dd><a href="http://www.haoqu.net/2/hunanweishi.html" target="_blank">湖南卫视在线直播观看TV【高清】</a></dd>
      <dd><a href="http://css.doyoe.com/" target="_blank">CSS参考手册_web前端开发参考手册系列</a></dd>
      <dd><a href="http://www.mianbao99.com/" target="_blank">最新电视剧，2015最新电影，好看的电视剧免费在线观看，西瓜影音、百度影音 - 面包网</a></dd>
      <dd><a href="http://www.mianwww.com/html/2014/03/19793.html" target="_blank">自我成长</a></dd>
      <dd><a href="http://www.lagou.com/resume/myresume.html" target="_blank">我的简历-拉勾网-最专业的互联网招聘平台</a></dd>
      <dd><a href="http://nuysoft.iteye.com/blog/1177451" target="_blank">[原创] jQuery源码分析-01总体架构 - nuysoft - ITeye技术网站</a></dd>
      <dd><a href="http://my.51job.com/cv/CResume/CV_ResumeCompleted.php?ReSumeID=305318126&newReSume=&checkgoogle=&isPResume=0&ran=0.5154941265936941" target="_blank">人才招聘求职网-前程无忧 | 51job 简历完成</a></dd>
      <dd><a href="http://developer.51cto.com/art/201404/435984.htm" >也谈基于NodeJS的全栈式开发（基于NodeJS的前后端分离） - 51CTO.COM</a></dd>
      <dd><a href="http://ourjs.com/detail/52fb82e13bd19c4814000001" target="_blank">JavaScript专业八级测试，你能做对几道？ - OurJS</a></dd>
      <dd><a href="http://www.cnblogs.com/haogj/p/4473477.html" target="_blank">jQuery 之 Callback 实现 - 冠军 - 博客园</a></dd>
      <dd><a href="http://www.cnblogs.com/aaronjs/p/3342344.html" target="_blank">jQuery 2.0.3 源码分析 回调对象 - Callbacks - 【Aaron】 - 博客园</a></dd>
      <dd><a href="http://codepen.io/" target="_blank">CodePen - Front End Developer Playground &amp; Code Editor in the Browser</a></dd>
      <dd><a href="http://baozoumanhua.com/groups/1/recent_hot/page/2" >漫画</a></dd>
      <dd><a href="https://1111.tmall.com/?wt=1&wh_alimama=true&smart=1&refpid=mm_52300842_5556794_63870540&eh=eiVrUf6F89JNUyfOh2k%2BHncfwq5Y0KxknsR2gORsSv70L4on%2BdQ40pF3ib4Y4SkdnJalO1%2BMdsKnsMtxiajKCjA%2FgXftuKfU&ali_trackid=2:mm_52300842_5556794_63870540:1477025371_311_909240259" target="_blank">双十一来啦-上天猫，就够了</a></dd>
    </dl>
  </li>
  <li class="bookmark-group" target="_blank">
    <dl>
      <dt class="bookmark-title" target="_blank">kaistart</dt>
      <dd><a href="http://112.124.50.44:8080/apidoc/common.html#" >common接口</a></dd>
      <dd><a href="http://test1.kaistart.net/" target="_blank">开始众筹-test</a></dd>
      <dd><a href="https://portal.qiniu.com/bucket/kaistart-images/resource" target="_blank">七牛云 - 内容管理</a></dd>
      <dd><a href="http://192.168.31.90:8080/views/mobile/user/storymsg.html" >故事动态-开始众筹</a></dd>
      <dd><a href="http://dev.kaistart.net/" >开始众筹-开发环境</a></dd>
      <dd><a href="http://localhost:2368/ghost/setup/one/" target="_blank">blog</a></dd>
      <dd><a href="http://112.124.50.44:8080/apidoc/home.html" >home接口</a></dd>
      <dd><a href="http://kaiman.kaistart.net/Kaiman/project/approved.html" target="_blank">管理后台</a></dd>
      <dd><a href="https://www.pgyer.com/skFf" target="_blank">开始吧测试</a></dd>
      <dd><a href="http://kaiman.kaistart.net/kaiman/project/pending.html" target="_blank">待审核列表</a></dd>
    </dl>
  </li>
  <li class="bookmark-group" target="_blank">
    <dl>
      <dt class="bookmark-title" target="_blank">前端网</dt>
      <dd><a href="http://jijiangshe.com/" target="_blank">技匠</a></dd>
      <dd><a href="https://cnodejs.org/" target="_blank">CNode</a></dd>
      <dd><a href="https://segmentfault.com/" target="_blank">SegmentFault</a></dd>
      <dd><a href="http://stackoverflow.com/" target="_blank">Stack Overflow</a></dd>
      <dd><a href="http://www.whycss.com/" target="_blank">whycss</a></dd>
      <dd><a href="https://www.w3ctech.com/" target="_blank">w3ctech</a></dd>
      <dd><a href="http://www.runoob.com/" target="_blank">菜鸟教程</a></dd>
      <dd><a href="http://f2e.im/books" target="_blank">F2E</a></dd>
      <dd><a href="http://www.css88.com/" target="_blank">css88</a></dd>
      <dd><a href="http://www.alloyteam.com/" >Web前端 腾讯AlloyTeam Blog | 愿景: 成为地球卓越的Web团队！ | 腾讯全端 AlloyTeam 团队 Blog</a></dd>
      <dd><a href="http://fex.baidu.com/" target="_blank">FEX</a></dd>
      <dd><a href="http://www.chinaz.com/" target="_blank">站长之家</a></dd>
      <dd><a href="http://www.cnblogs.com/" target="_blank">博客园 </a></dd>
      <dd><a href="https://my.oschina.net/luweiweiwei" target="_blank">开源中国</a></dd>
      <dd><a href="https://www.zhihu.com/" target="_blank">知乎</a></dd>
      <dd><a href="http://www.nowcoder.com/contestRoom" target="_blank">【IT题库】</a></dd>
      <dd><a href="http://www.frontopen.com/" target="_blank">frontopen</a></dd>
      <dd><a href="http://www.yyyweb.com/" >前端里</a></dd>
      <dd><a href="http://www.w3cfuns.com/" target="_blank">W3Cfuns</a></dd>
      <dd><a href="https://github.com/stardew516" target="_blank">github</a></dd>
      <dd><a href="http://lib.csdn.net/base/18/structure" target="_blank">知识库</a></dd>
    </dl>
  </li>
  <li class="bookmark-group" target="_blank">
    <dl>
      <dt class="bookmark-title" target="_blank">个人收藏</dt>
      <dd><a href="http://weilu.deercv.com/admin" target="_blank">萌鹿简历</a></dd>
      <dd><a href="http://acgtofe.com/posts/2016/02/full-live-reload-for-express-with-webpack" target="_blank">Express结合Webpack的全栈自动刷新 - acgtofe</a></dd>
      <dd><a href="http://www.iqiyi.com/a_19rrhb3xvl.html?vfm=2008_aldbd" target="_blank">航海王-动漫动画-全集高清在线观看-爱奇艺</a></dd>
      <dd><a href="https://www.facebook.com/login.php?login_attempt=1&lwv=110" target="_blank">Facebook</a></dd>
      <dd><a href="https://note.youdao.com/web/#/file/recent" target="_blank">有道云笔记</a></dd>
      <dd><a href="https://developer.chrome.com/extensions/getstarted" target="_blank">chrome插件开发api</a></dd>
      <dd><a href="http://weibo.com/weilu1991?source=blog&is_all=1" >微博</a></dd>
    </dl>
  </li>
  <li class="bookmark-group" target="_blank">
    <dl>
      <dt class="bookmark-title" target="_blank">微信小程序</dt>
      <dd><a href="https://mp.weixin.qq.com/debug/wxadoc/dev/qa/qa.html?t=1475052055364" target="_blank">Q&amp;A · 小程序</a></dd>
      <dd><a href="https://mp.weixin.qq.com/cgi-bin/home?token=1541705682" target="_blank">微信公众平台</a></dd>
      <dd><a href="https://mp.weixin.qq.com/debug/wxadoc/dev/framework/app-service/app.html" target="_blank">注册程序 · 小程序</a></dd>
      <dd><a href="https://mp.weixin.qq.com/debug/wxadoc/dev/api/" target="_blank">API · 小程序</a></dd>
      <dd><a href="http://www.cnblogs.com/ytkah/articles/5902364.html" target="_blank">微信小程序开发文档官方版发布 - ytkah - 博客园</a></dd>
      <dd><a href="https://console.qcloud.com/message/detail/15857157" target="_blank">腾讯云</a></dd>
    </dl>
  </li>
  <li class="bookmark-group" target="_blank">
    <dl>
      <dt class="bookmark-title" target="_blank">调试</dt>
      <dd><a href="chrome://inspect/#devices" >Inspect with Chrome Developer Tools</a></dd>
      <dd><a href="http://runjs.cn/code" target="_blank">RunJS</a></dd>
      <dd><a href="https://jsfiddle.net/user/dashboard/" target="_blank">JSFiddle</a></dd>
      <dd><a href="https://note.youdao.com/web/#/file/recent/md/WEB0d75dff9d3e41f7868e07bff833d5c1f/" target="_blank">有道云笔记</a></dd>
      <dd><a href="http://www.w3school.com.cn/tiy/t.asp?f=jquery_hide" target="_blank">W3School在线测试工具 V2</a></dd>
    </dl>
  </li>
  <li class="bookmark-group" target="_blank">
    <dl>
      <dt class="bookmark-title" target="_blank">框架</dt>
      <dt>vue</dt>
      <dd><a href="http://cn.vuejs.org/api/#debug" target="_blank">vue.js</a></dd>
      <dd><a href="https://vux.li/#!/" target="_blank">Vux</a></dd>
      <dd><a href="http://jiongks.name/blog/vue-code-review/" target="_blank">Vue.js 源码学习笔记 - 囧克斯</a></dd>
      <dd><a href="https://vuefe.cn/guide/migration.html#dispatch-%E5%92%8C-broadcast-%E5%BC%83%E7%94%A8" target="_blank">从 Vue2.x </a></dd>
      <dt>jquery</dt>
      <dd><a href="http://www.cnblogs.com/nuysoft/archive/2011/11/14/2248023.html" target="_blank">jQuery</a></dd>
      <dt>react</dt>
      <dt>angular</dt>
      <dd><a href="http://www.runoob.com/angularjs/angularjs-tutorial.html" target="_blank">AngularJS 教程 | 菜鸟教程</a></dd>
      <dd><a href="http://www.runoob.com/angularjs/angularjs-model.html" target="_blank">AngularJS ng-model 指令 | 菜鸟教程</a></dd>
      <dt>打包</dt>
      <dd><a href="http://webpackdoc.com/" target="_blank">介紹 | Webpack 中文指南</a></dd>
      <dt>bootstrap</dt>
      <dd><a href="http://docs.kissyui.com/" target="_blank">kissyui</a></dd>
    </dl>
  </li>
</ul>

<%- include('common/footer') %>