*{
  margin: 0;
  padding: 0;
  color: #444;
  line-height: 20px;
  font-size: 12px;
}
body{
  background-size: cover;
}
ul, li, dd, dt, dl {
  list-style: none;
}
dd a {
  text-decoration: none;
  cursor: pointer;
  transition: all .3s ease;
  width: 118px;
  height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  background-color: #fff!important;
  position: absolute;
  top: 0;
  left: 0;
}
dd a:hover{
  text-decoration: underline;
  font-size: 16px;
  color: darkred;
  width: auto;
  padding-right: 20px;
  z-index: 999;
}
.bookmark{
  margin: 0 auto;
  width: 1000px;
}
.bookmark-group{
  background-color: #fff;
  border: 1px solid #008000;
  margin: 10px auto;
  padding: 10px;
}
.bookmark-title{
  text-align: center;
  font-size: 16px;
  line-height: 30px;
  font-weight: bold;
  padding-bottom: 10px;
  margin-bottom: 10px;
  color: #2196F3;

}
dl{

}
dt{
  border-left: 5px solid yellow;
  padding-left: 10px;
  margin: 10px;
  font-size: 14px;
}
dl dt:first-child{
  border-left: 0;
  border-bottom: 1px solid #802230;
}
dd{
  display: inline-block;
  margin-left: 10px;
  width: 118px;
  height: 20px;
  position: relative;
}