<!doctype html>
  <html lang="en">
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title><%= title%></title>
      <link rel="stylesheet" href="libs/bootstrap/css/bootstrap.min.css">
      <link rel="stylesheet" href="libs/bootstrap/bootstrapValidator.css">
      <script src="libs/jquery/jquery-3.1.1.min.js"></script>
      <script src="libs/bootstrap/js/bootstrap.min.js"></script>
      <script src="libs/bootstrap/bootstrapValidator.min.js"></script>
    </head>
    <body>
      <div class="container">